 <%- include('partials/header.ejs'); %>
   <%- include('partials/main-nav.ejs'); %>
    <%- include('partials/footer.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<h2>Software Engineering Student</h2>
<p>Hello! I am Alisha, a post-graduate Computer Science student at Centennial College <br>I enjoy Coding and solving challeging problems.<br> My goal is to develop softwares that solve problems of millions of people.</p>

<img src="Assests/images/my_image.jpeg" alt="Girl in a jacket" width="200" height="300"><br>
<a href="https://drive.google.com/file/d/1Y8ezSWrYecqRBYGS3F8zShMnQasKlNVV/view?usp=sharing">CHECKOUT MY RESUME</a>


</body>
</html>