<%- include('partials/header.ejs'); %>
   <%- include('partials/main-nav.ejs'); %>
    <%- include('partials/footer.ejs'); %>
<!DOCTYPE html>
<html>

<body>
 
<br><br><br>
    <h2>My Goal is to develop Softwares with optimised solutions</h2>
  </body>
</html>

